<% if obj.errors.any? %>
	<div class="alert alert-danger">
	  <a class="close" data-dismiss="alert">×</a>
	  <% obj.errors.full_messages.each do |msg| %>
	    <p><%= raw msg %></p>
	  <% end %>
	</div>
<% end %>