!!!
%html{:lang => "en"}
  %body
    .container
      .email-logo
        = image_tag "logo2.png", class: 'img-fluid', alt: 'logo'
    .email-background
      .container
        .row.gx-5
          .p-3.col-sm-12.col-md-6
            %h1.title
              Lorem ipsum is
              %br/
              %span.title1
                manage money simply dummy
            %h3.home-title
              Reach your goals with personalized insights,custom budgets, spend and subscription monitoring
            %a.btn.sign-up.buttons download
          .p-3.col-sm-12.col-md-6
            =image_tag "email-phone.png", class: 'img-fluid', alt: 'email-phone'
    .container
      %p.buttons.email-title
        LOREM IPSUM IS SIMPLY DUMMY
      .footer-bottom
        %span.email-img
          =image_tag "check.png", class: 'img-fluid', alt: 'check'
        .footer-icon-next
          %h6.email-text
            dummy text of the printing
          %h6.email-subtext
            Lorem ipsum is simply dummy text of the printing
      .footer-bottom
        %span.email-img
          =image_tag "check.png", class: 'img-fluid', alt: 'check'
        .footer-icon-next
          %p.email-text
            dummy text of the printing
          %p.email-subtext
            simply dummy text of the printing
      .footer-bottom
        %span.email-img
          =image_tag "check.png", class: 'img-fluid', alt: 'check'
        .footer-icon-next
          %p.email-text
            dummy text of the printing
          %p.email-subtext
            Lorem ipsum is simply dummy text printing
      .footer-bottom
        %span.email-img
          =image_tag "check.png", class: 'img-fluid', alt: 'check'
        .footer-icon-next
          %p.email-text
            dummy text of the printing
          %p.email-subtext
            Lorem ipsum is simply dummy text of the
      .footer-bottom
        %span.email-img
          =image_tag "check.png", class: 'img-fluid', alt: 'check'
        .footer-icon-next
          %p.email-text
            dummy text of the printing
          %p.email-subtext
            Lorem ipsum is simply t of the printing
      .email-logo.buttons
        %a.btn.sign-up Download