.container
  .row
    .col-sm-12.col-md-6
      %h1.home-title Lorem Ipsum is manage money simply dummy
      %h2.home-title Reach your goals with personalized insights,custom budgets, spend and subscription monitoring
      .buttons
        %a.btn.sign-up Download
        %a.btn.sign-in Read More
    .col-sm-12.col-md-6.phone-image
      =image_tag "phone.png", class: 'img-fluid phone', alt: 'phone'