.container
  %p.inner-title.buttons
    Lorem Ipsum is simply dummy text of the printing
  %p.inner-text
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
    dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
    book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially
    unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more
    recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
  .row.gx-5
    .p-3.col-sm-12.col-md-6
      =image_tag "male.png", class: 'img-fluid', alt: 'male'
    .p-3.col-sm-12.col-md-6
      %p.inner-title.text-position
        Lorem Ipsum is simply dummy text of the printing
      %p.inner-text.text-position
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
        specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining
        essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
        passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
    .p-3.col-sm-12.col-md-6
      %p.inner-title.text-position
        Lorem Ipsum is simply dummy text of the printing
      %p.inner-text.text-position
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
        specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining
        essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
        passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
    .p-3.col-sm-12.col-md-6
      =image_tag "female.png", class: 'img-fluid', alt: 'female'
  / Partners Section
  .container.partner-section
    .row
      .p-3.col-sm-12.col-lg-4
        %p.partners.title Best Partners
        %p.partner-title
          Fusce vulputate eleifend sapien bulum purus quam, scelerisque ut, mollis vulputate felis eros.
      .p-3.col-sm-6.col-lg-2.label-icon
        =image_tag "icon5.png", class: 'img-fluid', alt: 'icon5'
      .p-3.col-sm-6.col-lg-2.label-icon
        =image_tag "icon6.png", class: 'img-fluid', alt: 'icon6'
      .p-3.col-sm-6.col-lg-2.label-icon
        =image_tag "icon8.png", class: 'img-fluid', alt: 'icon8'
      .p-3.col-sm-6.col-lg-2.label-icon
        =image_tag "icon7.png", class: 'img-fluid', alt: 'icon7'