!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p Hi There,
    %p
      Verification code sending failed on this No. #{@phone}, Please check your Twilio messages limitation.
      %br/
      %br/
      Thank you!
      %br/
      SimpleDimple Team
