<!DOCTYPE html>    
    <html>
    <head>
    </head>
    <body>
    <p>Hi There,</p>
    <p>
      Verification code sending failed on this No. <%= @phone %>, Please check your Twilio messages limitation.<br><br>
      Thank you!<br/>
      SimpleDimple Team
    </p>
    </body>
    </html>
    