!!!
%html
  %head
    / Required meta tags
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    / Bootstrap CSS
    %link{:href => "https://fonts.googleapis.com/css?family=Poppins", :rel => "stylesheet"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Open+Sans:400,600,300", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Montserrat:100,200,300", :rel => "stylesheet"}/

    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    = stylesheet_link_tag "mailer"
    :css
      /* Email styles need to be inline */
  %body
    = yield
